Source: zabbix-cachet
Section: devel
Priority: optional
Maintainer: Artem Alexandrov <qk4l@tem4uk.ru>
Build-Depends: debhelper (>> 5.0.0), dh-systemd (>= 1.5), dh-exec
Standards-Version: 3.7.2

Package: zabbix-cachet
Architecture: all
Depends: python3, python3-yaml, python3-requests, python3-pip, python3-tz
Description: Python script which provide synchronisation between Zabbix IT Services and Cachet

